.visual {
    display: inline-block;
    background-color: red;
    height: 100vh;
    width:49%;

    h1 {
        font-size: $font-size-h1;
    }
}

.web {
    display: inline-block;
    background-color: blue;
    height: 100vh;
    width:49%;

    h1 {
        font-size: $font-size-h1;
    }
}