
*{margin:0;
box-sizing:border-box;}

.visual{
  display: inline-block;
  background: red;
  height: 100vh;
  width: 49%
}

.web{
  display: inline-block;
  background: blue;
  height: 100vh;
  width: 49%
}
